#custom_nav{
    padding: 10px 20px;
    
}
.nav-item{
    padding: 10px 20px;
    align-items: center;
    display: flex;
}
a:visited, a:link, a:active
{
    text-decoration: none;
    font-size: 16px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 300;
    color: white;
    
}
a:hover{
    color:#00838f;
}

#custom_padding_nav{
    padding-top: 0px;
    padding-bottom: 0px;
}
#logo{
    margin-left: 15%;
}
.bg-light {
    background-color: rgba(88, 154, 143, 0.3) !important;
}

#meettheteam{
    width: 100%;
    text-align: left;
    color: #fff;
    background: url("../img/finalmtt.png") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: right; 
    background-color: rgb(234,234,234);
    min-height: 400px;
    height: 800px;
    align-items: left;
}


#jheading{
    padding-top: 3rem;
    font-size: 5rem;
    color: white;
}