{% extends "index.html" %}

{% block content %}
<!-- Software Section -->
<div class="jumbotron" id = "software">
    <div class = "container">
      <div class = "row">
        <div class="col-lg-4 col-lg-offset-1">
          <h1>Software Subteam</h1>
          <h4> <span style="color: #D52D30"> Contact: Mustafa Ansari</span> </h4> <br>
          <p> The software subteam writes all of the code that executes on the submarine's main
          computer and any additional infrastructure and tooling. They also build auxiliary software such as simulation, visualization, and automation tools that enable us to efficiently develop mission systems that
          accomplish the requisite task.</p>

          <button id="newsbutton" class="btn btn-primary pull-left" data-toggle="modal" data-target="#software_members">
               TEAM MEMBERS
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Mechanical Section -->
  <div class="jumbotron" id = "mechanical">
    <div class = "container">
      <div class = "row">
        <div class="col-lg-4 col-lg-offset-7">
          <h1>Mechanical Subteam</h1>
          <h4> <span style="color: #D52D30"> Contact: Sanika Kulkarni</span> </h4> <br>
          <p> The mechanical team is comprised of 10 undergraduate students across three subteams, the Actuators, Racks Caps and Cameras, and Structures subteam. Over the course of the year, the vehicle is designed in Solidworks, simulated in ANSYS, manufactured in house at the Cornell Emerson Machine shop, integrated and tested in Teagle pool, and finally taken apart and shipped to San Diego for competition. </p>
          <button id="newsbutton" class="btn btn-primary pull-right" data-toggle="modal" data-target="#mechanical_members">
              TEAM MEMBERS
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Electrical Section -->
  <div class="jumbotron" id = "electrical">
    <div class = "container">
      <div class = "row">
        <div class="col-lg-4 col-lg-offset-1">
          <h1>Electrical Subteam</h1>
          <h4> <span style="color: #D52D30"> Contact: Nick Sarkis</span> </h4> <br>
          <p> The electrical team designs, populates, and tests circuit boards which provide power to the onboard electronics, interface with the various sensors, including a custom acoustic sensing system, and control the vehicle's  actuators and thrusters.
                </p>
          <button id="newsbutton" class="btn btn-primary pull-left" data-toggle="modal" data-target="#electrical_members">
            TEAM MEMBERS
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}