{% extends "index.html" %}
{% load static from staticfiles %}
{% block content %}



<div id= "pitch" >
    <span class="sideheading">Our Vision</span><br><br>
UniVVRsity is a rapidly expanding startup that is working on creating a fully-immersive VR classroom. 
Our social goal is to provide kids in Middle and High schools in low income areas access to STEM 
courses through online courses that use VR to create greater engagement. We aim to create software that levels the playing field in education 
and deliver high quality education to all.
</div>

 <div id="stats">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <span class="not_count">2018</span><br><span class="caption">founded </span>
                    </td>
                    <td>
                      <span class="count" data-count="50">20</span><br><span class="caption"> members</span>
                    </td>
                    
                    <td>
                      <span class="count" data-count="7">4</span><br><span class="caption">subteams</span>
                    </td>
                    
                  </tr>
                </tbody>
              </table>


            </div>

<div id="Teams" >
			 <span class="sideheading">Our Goal</span><br><br>

   Our goal is to create a program compatible with our headset that projects a three-dimensional 
   classroom filled with about 15 other students. The structure of each lesson will be to watch
   a 30-minute pre-recorded lecture by a teacher avatar, engage in a 15-minute question-answer 
   period with our AI avatar, and then interactively collaborate for 30 minutes with his peers.<br>

   <span class="sideheading">Inspiration</span><br> 
   
   UniVRsity was founded through personal experience of the failure and inefficencies of the public schooling 
   system in America.
   Students, especially in low-income regions, do not have access to all STEM courses.
   Because of our property tax school funding system, schools in low-income neighborhoods are given less funding 
   than other schools and as a result are often unable to hire and retain talented teachers in the STEM fields.
   There is a geunine need for innovation in the modern schooling system in order to aid students in these poorly funded schools
   maximize their potential.
   
 
   
   
</div>

{% endblock %}  