{% extends "index.html" %}
{% load static from staticfiles %}

{% block content %}


<div class="jumbotron">
    <div class="row" >
        {% for member in members %}
        <div class="column col-lg-3 col-md-4 col-sm-6 col-xs-12" >
            
            <div class="card">
                <img src="media/{{member.img}}" id='mem_pic'>
                <div class="container">
                <h2>{{member}}</h2>
                <p class="title">{{member.position}}</p>
                <p>{{member.description}}</p>
                <p><button id="button" class="btn btn-primary pull-left" data-toggle="modal" data-target="#{{member}}">Read More</button></p>
                </div>
            </div>
        </div>
        

        <!-- Modal -->
        <div class="modal fade" id="{{member}}" role="dialog">
            <div class="modal-dialog modal-lg" >

                <!-- Modal content-->
                <div class="modal-content">
                <div class="modal-body">
                    <div class='row'>
                        <div class='col-lg-5 col-md-6 col-sm-6 col-xs-12'>
                            <img src="media/{{member.img}}" alt="member_image" style="width:100%; opacity: 1 !important;">
                            <h1 class='d-none d-sm-block d-md-none'>{{member}}</h1>
                            <h6 class='d-none d-sm-block d-md-none'>{{member.position}}</h6>
                            <div class="row d-none d-sm-block d-md-none">
                                {% if not member.facebook == '' %}
                                    <!-- Facebook -->
                                    <a href="{{member.facebook}}"><i class="fa fa-facebook fa-lg fa-2x" style="padding: 1rem;"></i></a>
                                {% endif %} 
                                {% if not member.twitter == '' %}
                                    <!-- Twitter -->
                                    <a href="{{member.twitter}}"><i class="fa fa-twitter fa-lg fa-2x" style="padding: 1rem;"> </i></a>
                                {% endif %}
                                {% if not member.googlePlus == '' %}
                                    <!-- Google +-->
                                    <a href="{{member.googlePlus}}"><i class="fa fa-google-plus fa-lg fa-2x" style="padding: 1rem;"> </i></a>
                                {% endif %}
                                {% if not member.linkedIn == '' %}
                                    <!--Linkedin -->
                                    <a href="{{member.linkedIn}}"><i class="fa fa-linkedin fa-lg fa-2x" style="padding: 1rem;"> </i></a>
                                {% endif %}
                                {% if not member.instagram == '' %}
                                    <!--Instagram-->
                                    <a href="{{member.instagram}}"><i class="fa fa-instagram fa-lg fa-2x" style="padding: 1rem;"> </i></a>
                                {% endif %}
                                {% if not member.gitHub == '' %}
                                    <!-- GitHub -->
                                    <a href="{{member.gitHub}}"><i class="fa fa-github fa-lg fa-2x" style="padding: 1rem;"> </i></a>
                                {% endif %}
                                </div>
                        </div>
                        <div class='col-lg-7 col-md-6 col-sm-6 col-xs-12'>
                            <h1 class='d-sm-none d-md-block'>{{member}}</h1>
                            <h6 class='d-sm-none d-md-block'>{{member.position}}</h6>
                            <p>{{member.bio}}</p>
                            
                        <div class="row d-sm-none d-md-block">
                            {% if not member.facebook == '' %}
                                <!-- Facebook -->
                                <a href="{{member.facebook}}"><i class="fa fa-facebook fa-lg fa-2x" style="padding: 1rem;"></i></a>
                            {% endif %}
                            {% if not member.twitter == '' %}
                                <!-- Twitter -->
                                <a href="{{member.twitter}}"><i class="fa fa-twitter fa-lg fa-2x" style="padding: 1rem;"> </i></a>
                            {% endif %}
                            {% if not member.googlePlus == '' %}
                                <!-- Google +-->
                                <a href="{{member.googlePlus}}"><i class="fa fa-google-plus fa-lg fa-2x" style="padding: 1rem;"> </i></a>
                            {% endif %}
                            {% if not member.linkedIn == '' %}
                                <!--Linkedin -->
                                <a href="{{member.linkedIn}}"><i class="fa fa-linkedin fa-lg fa-2x" style="padding: 1rem;"> </i></a>
                            {% endif %}
                            {% if not member.instagram == '' %}
                                <!--Instagram-->
                                <a href="{{member.instagram}}"><i class="fa fa-instagram fa-lg fa-2x" style="padding: 1rem;"> </i></a>
                            {% endif %}
                            {% if not member.gitHub == '' %}
                                <!-- GitHub -->
                                <a href="{{member.gitHub}}"><i class="fa fa-github fa-lg fa-2x" style="padding: 1rem;"> </i></a>
                            {% endif %}
                        </div>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id='button' class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div> 
            </div>
        </div>

        {% endfor %}
</div>
</div>


{% endblock %}