{% extends "index.html" %}
{% load static from staticfiles %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="column col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <img src="{% static 'img/nick.jpg' %}" alt="Jane" style="width:100%">
            <div class="container">
            <h2>Jane Doe</h2>
            <p class="title">CEO &amp; Founder</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button id="button" class="btn btn-primary pull-left">Contact</button></p>
            </div>
        </div>
        </div>
    
        <div class="column col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <img src="{% static 'img/eldor1.jpg' %}" alt="Mike" style="width:100%">
            <div class="container">
            <h2>Mike Ross</h2>
            <p class="title">Art Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button id="button" class="btn btn-primary pull-left">Contact</button></p>
            </div>
        </div>
        </div>
    
        <div class="column col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <img src="{% static 'img/img2.jpg' %}" alt="John" style="width:100%">
            <div class="container">
            <h2>John Doe</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button id="button" class="btn btn-primary pull-left">Contact</button></p>
            </div>
        </div>
        </div>

        <div class="column col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <img src="{% static 'img/img1.jpg' %}" alt="John" style="width:100%">
            <div class="container">
            <h2>John Doe</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button id="button" class="btn btn-primary pull-left">Contact</button></p>
            </div>
        </div>
        </div>

        <div class="column col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <img src="{% static 'img/francis.jpg' %}" alt="John" style="width:100%">
            <div class="container">
            <h2>John Doe</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button id="button" class="btn btn-primary pull-left">Contact</button></p>
            </div>
        </div>
        </div>

        <div class="column col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <img src="{% static 'img/cloe.jpg' %}" alt="John" style="width:100%">
            <div class="container">
            <h2>John Doe</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button id="button" class="btn btn-primary pull-left">Contact</button></p>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}